/**
 * Time Machine:
 * -----------
 *
 * The time-machine namespaced components comprise the
 * time based navigation for changing the date of the
 * screenshots to be rendered.
 */

.time-machine-container {
  font-size: 1.25rem; // This attribute defines the entire size of the navigation.
}

.time-machine-container {
  background: rgba(0,0,0,0.75);
  border-top: 1px solid rgba(0,0,0,0.85);
  color: #fff;
  bottom: 0;
  height: 2.5em;
  left: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
}