<div id="left-panel" class="panel"></div>
<div id="right-panel" class="panel"></div>
<% Publication.all.each do |publication| -%>
  <div>
    <%= image_tag publication.logo_url if publication.logo_url.present? -%>
    <h2><%= publication.name -%></h2>
    <% publication.publication_sections.each do |section| -%>
      <p><%= section.name -%> => <%= section.url -%></p>
    <% end -%>
  </div>
<% end -%>
